---
import { Image } from 'astro:assets';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import profile_pic from '../assets/profile_pic.jpg';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 style="text-align: center;">Toby Such</h1>
			<p style="text-align: center;">
				<Image src={profile_pic} alt="Picture of Toby" width="200" height="200" />
			<p>
				Hi, I’m Toby 👋 A Senior Software Engineer at Adobe with a focus on cloud reliability, observability, and automation. I love exploring, building and creating, both in the tech world and away from it!
			</p>
			<p>
				Check out my <a href="/blog">blog</a> for thoughts on tech, my <a href="https://github.com/TobySuch">GitHub</a> for my side projects, or connect with me on <a href="https://www.linkedin.com/in/tobysuch/">LinkedIn</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
